link(rel='stylesheet' href='./css/bootstrap.min.css')
script(src='./js/bootstrap.min.js')

table.table
  thead
    tr
      th(scope='col') #
      th(scope='col') Username
      th(scope='col') Password
      th(scope='col') Gender
      th(scope='col') Agree
  tbody
    tr
      each val, index in users
        th(scope='row')=(index + 1)
        td=val.username
        td=val.password
        td=val.gender
        td=val.agree